$assets: './assets/fonts'

// Univers
@font-face
	font-family: 'Univers'
	src: url(#{$assets}/Univers-Light.ttf)
	font-style: normal
	font-weight: 300

@font-face
	font-family: 'Univers'
	src: url(#{$assets}/Univers.ttf)
	font-style: normal
	font-weight: 400

// Univers Condensed
@font-face
	font-family: 'Univers-Condensed'
	src: url(#{$assets}/Univers-Condensed.ttf)
	font-style: normal
	font-weight: 400

@font-face
	font-family: 'Univers-Condensed'
	src: url(#{$assets}/Univers-CondensedBold.ttf)
	font-style: normal
	font-weight: 700