@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icon-font/icomoon.eot?a6bfpu');
  src:  url('../../assets/fonts/icon-font/icomoon.eot?a6bfpu#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icon-font/icomoon.ttf?a6bfpu') format('truetype'),
    url('../../assets/fonts/icon-font/icomoon.woff?a6bfpu') format('woff'),
    url('../../assets/fonts/icon-font/icomoon.svg?a6bfpu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard:before {
  content: "\e900";
}
.icon-meal:before {
  content: "\e901";
}
.icon-workout:before {
  content: "\e902";
}
.icon-supplement:before {
  content: "\e903";
}
.icon-weight:before {
  content: "\e904";
}
.icon-progress:before {
  content: "\e905";
}
.icon-settings:before {
  content: "\e906";
}
.icon-log-out:before {
  content: "\e907";
}
