@import './vars'

// POSITIONS
.fixed
	position: fixed
.absolute
	position: absolute
.relative
	position: relative

// COLORS
.black
	color: #000
.white
	color: #fff

// BACKGROUNDS
.bg-main
	background-color: $bg-color
.bg-accent3
	background-color: $accent3-color
.bg-white
	background-color: #fff

// MARGINS
.mt-1
	margin-top: 10px
.mt-2
	margin-top: 20px
.mt-3
	margin-top: 30px
.mt-4
	margin-top: 40px

.mb-1
	margin-bottom: 10px
.mb-2
	margin-bottom: 20px

.my-1
	margin:
		top: 10px
		bottom: 10px
.my-3
	margin:
		top: 30px
		bottom: 30px
.my-5
	margin:
		top: 50px
		bottom: 50px

// PADDINGS
.py-3
	padding:
		top: 30px
		bottom: 30px
.py-2
	padding:
		top: 20px
		bottom: 20px

.px-3
	padding:
		left: 30px
		right: 30px

.pt-2
	padding-top: 20px
.pt-3
	padding-top: 30px
.pt-5
	padding-top: 50px

.pb-1
	padding-bottom: 10px
.pb-2
	padding-bottom: 20px

.p-4
	padding: 40px


// TEXT

	//align
.txt-center
	text-align: center
.txt-left
	text-align: left
.txt-right
	text-align: right

	// transform
.txt-upper
	text-transform: uppercase

	//sizes
.font64
	font-size: 64px
	@media(max-width: $lg)
		font-size: 60px
	@media(max-width: $md)
		font-size: 58px
	@media(max-width: $sm)
		font-size: 54px
	@media(max-width: $xs)
		font-size: 50px
.font48
	font-size: 48px
	@media(max-width: $lg)
		font-size: 45px
	@media(max-width: $md)
		font-size: 42px
	@media(max-width: $sm)
		font-size: 39px
	@media(max-width: $xs)
		font-size: 36px
.font44
	font-size: 44px
.font30
	font-size: 30px
	@media(max-width: $lg)
		font-size: 28px
	@media(max-width: $md)
		font-size: 26px
	@media(max-width: $sm)
		font-size: 24px
	@media(max-width: $xs)
		font-size: 22px
.font24
	font-size: 24px
	@media(max-width: $md)
		font-size: 22px
	@media(max-width: $sm)
		font-size: 21px
	@media(max-width: $xs)
		font-size: 19px
.font22
	font-size: 22px
	@media(max-width: $sm)
		font-size: 20px
	@media(max-width: $xs)
		font-size: 18px
.font20
	font-size: 20px
	@media(max-width: $sm)
		font-size: 18px
	@media(max-width: $xs)
		font-size: 17px
.font18
	font-size: 18px
	@media(max-width: $sm)
		font-size: 17px
	@media(max-width: $xs)
		font-size: 16px
.font16
	font-size: 16px
	@media(max-width: $xs)
		font-size: 15px
.font14
	font-size: 14px
.font12
	font-size: 12px

	//weights
.bold
	font-weight: $bold
.light
	font-weight: $light

	//fonts
.default
	font-family: $def-font !important
.condensed
	font-family: $def-cond-font !important

	// transform
.capitalize
	text-transform: capitalize 

	// styles
.italic
	font-style: italic

// HIDDENS
.hidden
	display: none

.hidden-lg
	@media(max-width: $lg)
		display: none

.hidden-md
	@media(max-width: $md)
		display: none

.hidden-sm
	@media(max-width: $sm)
		display: none

.hidden-xs
	@media(max-width: $xs)
		display: none

// SHOW
.show-md
	@media(max-width: $md)
		display: inline-block

// FLOAT
.right
	float: right
.left
	float: left

// DISPLAY
.block
	display: block
.inline-block
	display: inline-block

// LINE-HEIHGT
.ln1
	line-height: 1
.ln13
	line-height: 1.3

// BORDERS
.bt1
	border-top: 1px solid blue

// DECORATION
.dec-none
	text-decoration: none
	&:hover
		text-decoration: none

// CONTAINER SIZES
.w-full
	width: 100%
.h-full
	height: 100%
.full
	width: 100%
	height: 100%
