@import '../../styles/vars'

.card
	@media(max-width: $lg)
		.row
			margin: 0

.form-accent-color
	color: #eb2129

.settings
	max-width: 640px
	padding: 35px 0 45px
	.form-group
		&:not(:last-child)
			box-shadow: 0 1px 0 0 #e6e6e8
	.input-group
		margin-top: 20px
		a.link
			display: inline-block
			margin:
				left: 15px
				bottom: 4px
			vertical-align: bottom
			@media(max-width: $lg)
				margin-top: 5px
		.single
			vertical-align: top
			width: 100%
			display: inline-block
			max-width: 410px 
			@media(max-width: $sm)
				max-width: none
				margin-right: 0px
				&:not(:first-child)
					margin-top: 20px
		.single-short
			max-width: 256px
		&.multiple
			.single
				max-width: 192px
				&:not(:last-child)
					margin-right: 20px
				@media(max-width: $sm)
					max-width: none
					margin-right: 0px
					&:not(:first-child)
						margin-top: 20px
					.medium,
					.small
						margin-top: 0px
			.single-full
				max-width: 410px
				@media(max-width: $lg)
					display: block
					margin-top: 20px
				.single
					&:not(:last-child)
						margin-right: 10px
			.medium
				max-width: 150px
			.small
				max-width: 114px
		.select
			position: relative
			&:after
				content: ''
				position: absolute
				top: 35px
				right: 13px
				height: 12px
				width: 12px
				background-image: url('../../../assets/img/drop-down.svg')
				background-size: cover
				background-position: center
				transition: transform $def-transition
			&.active
				&:after
					transform: rotate(180deg)
			input
				padding-right: 35px
			.drop-down
				z-index: 3
				max-height: 170px
				overflow-y: auto
				ul
					li
						cursor: pointer
						font-size: 14px
						background-color: darken(#fff, 1%)
						padding: 5px 10px
						border-bottom: 1px solid $accent1-color
						&:hover
							background-color: #fff
		.single-label
			position: relative
			input
				padding-right: 40px
			.label
				position: absolute
				top: 27px
				right: 10px
				font-size: 17px
				color: #ab131c
			.img
				cursor: pointer
				right: 5px
				img
					width: 29px


label
	color: #929292
	font-size: 14px
	display: block

input
	min-width: auto
	width: 100%
	height: 36px
	border-radius: 6px
	background-color: #ffffff
	border: solid 1px #e6e6e8
	outline: none
	padding: 0 10px
	transition: border $def-transition
	font-family: $def-font
	font-size: 17px
	font-weight: 300
	color: #000
	&:focus
		border-color: #b0b0b0
	&:disabled
		background-color: #f8f8f8

*::-webkit-input-placeholder
	color: #000
	font-size: 18px
	font-weight: $light
	opacity: 1
*:-moz-placeholder
	color: #000
	font-size: 18px
	font-weight: $light
	opacity: 1
*::-moz-placeholder
	color: #000
	font-size: 18px
	font-weight: $light
	opacity: 1
*:-ms-input-placeholder
	color: #000
	font-size: 18px
	font-weight: $light
	opacity: 1

.confirm-btn
	width: 120px
	height: 36px
	line-height: 40px
	border-radius: 6px
	background-color: #eb2129
	font-size: 17px
	text-align: center