<div class="component-title-container p-4">
	<h2 class="title font48 bold condensed ln1">Settings</h2>
</div>

<div class="component-content no-cards">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="row">
					<div class="col-lg-3">
						<div class="txt-center">
							<p class="condensed bold font18 black txt-upper mt-3">Your profile</p>
							<img [src]="settings.logo" class="user-logo mt-3">
						</div>
					</div>

					<div class="col-lg-9">
						<div class="settings">
							
							<div class="form-group mt-3 pb-2">
								<p class="font14 txt-upper form-accent-color">General Info</p>

								<div class="input-group multiple">
									<div class="single">
										<label for="firstName">First Name</label>
										<input [(ngModel)]="settings.firstName" type="text" name="firstName">
									</div>
									<div class="single">
										<label for="lastName">Last Name</label>
										<input [(ngModel)]="settings.lastName" type="text" name="lastName">
									</div>
								</div>
								
								<div class="input-group">
									<div class="single">
										<label for="email">Your Email</label>
										<input [(ngModel)]="settings.email" [disabled]="!changeEmail" type="email" name="email" (click)="$event.stopPropagation()" (focus)="$event.stopPropagation()">
									</div>
									<a *ngIf="!changeEmail" href="javascript:void(0)" class="link form-accent-color font14 dec-none"
										(click)="changeEmail = true; $event.stopPropagation();">Change email</a>
								</div>

								<div class="input-group">
									<div class="single single-short select" [class.active]="dropDowns[0]">
										<label for="unitSystem">Unit System</label>
										<input type="text" name="unitSystem" placeholder="Metric (g, kg, cm, m)"
											(click)="openDropdown($event, 0)" [(ngModel)]="settings.unitSystem">
										<div *ngIf="dropDowns[0]" class="drop-down">
											<ul class="def-ul">
												<li (click)="settings.unitSystem = 'Metric (g, kg, cm, m)'">Metric (g, kg, cm, m)</li>
												<li (click)="settings.unitSystem = 'Another System'">Another System</li>
											</ul>
										</div>
									</div>
								</div>

							</div><!-- Form Group -->

							<div class="form-group mt-3 pb-2">
								<p class="font14 txt-upper form-accent-color">Personal Details</p>

								<div class="input-group multiple">
									<div class="single single-label">
										<label for="height">Height</label>
										<input [(ngModel)]="settings.height" type="number" name="height">
										<p class="label">cm</p>
									</div>
									<div class="single single-label">
										<label for="weight">Starting Weight</label>
										<input [(ngModel)]="settings.startingWeight" type="number" name="weight">
										<p class="label">kg</p>
									</div>
								</div>
								

								<div class="input-group multiple">
									
									<div class="single select" [class.active]="dropDowns[1]">
										<label for="gender">Gender</label>
										<input type="text" name="gender"
											(click)="openDropdown($event, 1)" [(ngModel)]="settings.gender">
										<div *ngIf="dropDowns[1]" class="drop-down">
											<ul class="def-ul">
												<li (click)="settings.gender = 'Male'">Male</li>
												<li (click)="settings.gender = 'Female'">Female</li>
												<li (click)="settings.gender = 'Other'">Other</li>
											</ul>
										</div>
									</div>

									<div class="single single-full">
										<div class="single select single-tree small" [class.active]="dropDowns[2]">
											<label for="day">Date of Birth</label>
											<input type="number" name="day"
												(click)="openDropdown($event, 2)" [(ngModel)]="day">
											<div *ngIf="dropDowns[2]" class="drop-down">
												<ul class="def-ul">
													<li *ngFor="let d of getDays()" (click)="day = d">{{d}}</li>
												</ul>
											</div>
										</div>
										<div class="single select single-tree medium" [class.active]="dropDowns[3]">
											<label style="opacity: 0;" for="month">Month</label>
											<input type="text" name="month"
												(click)="openDropdown($event, 3)" [(ngModel)]="month">
											<div *ngIf="dropDowns[3]" class="drop-down">
												<ul class="def-ul">
													<li *ngFor="let m of getMounts()" (click)="month = m">{{m}}</li>
												</ul>
											</div>
										</div>
										<div class="single select single-tree small" [class.active]="dropDowns[4]">
											<label style="opacity: 0;" for="year">Year</label>
											<input type="number" name="year"
												(click)="openDropdown($event, 4)" [(ngModel)]="year">
											<div *ngIf="dropDowns[4]" class="drop-down">
												<ul class="def-ul">
													<li *ngFor="let y of getYears()" (click)="year = y">{{y}}</li>
												</ul>
											</div>
										</div>
									</div>

								</div>

							</div><!-- Form Group -->

							<div class="form-group mt-3 pb-2">
								<p class="font14 txt-upper form-accent-color">Change Password</p>

								<div class="input-group multiple">
									<div class="single single-label">
										<label for="crntPass">Current Password</label>
										<input [(ngModel)]="crntPass" [type]="showCrntPass === 'hide' ? 'password' : 'text'" name="crntPass">
										<p *ngIf="crntPass" class="label img" 
											(click)="showCrntPass = showCrntPass === 'hide' ? 'show' : 'hide'">
											<img [src]="showCrntPass === 'hide' ? 'assets/img/hide.svg' : 'assets/img/show.svg'">
										</p>
									</div>
									<div class="single single-label">
										<label for="newPass">New Password</label>
										<input [(ngModel)]="newPass" [type]="showNewPass === 'hide' ? 'password' : 'text'" name="newPass">
										<p *ngIf="newPass" class="label img" 
											(click)="showNewPass = showNewPass === 'hide' ? 'show' : 'hide'">
											<img [src]="showNewPass === 'hide' ? 'assets/img/hide.svg' : 'assets/img/show.svg'">
										</p>
									</div>
									<div class="single single-label">
										<label for="confPass">Confirm Password</label>
										<input [(ngModel)]="confPass" [type]="showConfPass === 'hide' ? 'password' : 'text'" name="confPass">
										<p *ngIf="confPass" class="label img" 
											(click)="showConfPass = showConfPass === 'hide' ? 'show' : 'hide'">
											<img [src]="showConfPass === 'hide' ? 'assets/img/hide.svg' : 'assets/img/show.svg'">
										</p>
									</div>
								</div>

							</div><!-- Form Group -->

							<div class="txt-right mt-3">
								<a href="javascript:void(0)" class="confirm-btn light white dec-none inline-block"
									(click)="confirmUpdates(settings)">Confirm</a>
							</div>

						</div>
					</div>
				</div>
			</div><!-- card -->
		</div>
	</div>
</div>

