@import '../../styles/vars'

.popup
	max-width: 820px

.process-container
	.row
		margin: 0
	.col
		padding: 0 5px
	@media(max-width: $lg)
		padding: 30px
	@media(max-width: $md)
		padding: 20px
	@media(max-width: $sm)
		padding: 10px
	@media(max-width: $xs)
		.col
			padding: 0
	a
		letter-spacing: -2px
		cursor: default
		color: #a7a7a7
		padding:
			top: 10px
			bottom: 5px
		transition: color $def-transition
		&:before
			content: ''
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 2px
			background-color: #a7a7a7
			transition: background-color $def-transition
		&.active
			color: #eb2129
			&:before
				background-color: #eb2129


.input-wrapper
	.td-structure
		width: 50%
	@media(max-width: $md)
		max-width: 400px
		margin: auto
		.td-structure
			width: 100%
			display: block
			&:not(:last-child)
				table
					td
						padding-bottom: 20px

	table
		td
			padding:
				left: 10px
				right: 10px
		tr:not(:last-child)
			td
				padding-bottom: 20px

	.input-btn
		text-decoration: none
		padding: 0 10px
		display: inline-block
		height: 40px
		line-height: 40px
		border-radius: 9px
		border: solid 1px rgba(#000000, .2)
		font-size: 18px
		font-weight: 300
		color: #000
		text-align: center
		min-width: 70px

	.input-btn-toggle
		color: #fff
		background-color: #eb2129

	.input-btn-select
		position: relative
		padding-right: 30px
		&:after
			content: ''
			position: absolute
			top: calc(50% - 7px)
			right: 7px
			width: 14px
			height: 14px
			background-image: url(../../../assets/img/drop-down-black.svg)
			background-size: 14px 14px
			background-repeat: no-repeat
			transition: transform $def-transition
		&.open
			&:after
				transform: rotate(180deg)
		.drop-down
			position: absolute
			top: calc(100% + 2px)
			left: 0
			right: 0

	.multipl-two
		.input-btn
			width: 100%
			max-width: 48%
			&:last-child
				float: right
		@media(max-width: $xs)
			.input-btn
				max-width: none
				&:last-child
					margin-top: 10px
					float: none

	.multipl-three
		.input-btn
			width: 100%
			max-width: 31%
		&.accent-center
			.input-btn
				&:nth-child(1),
				&:nth-child(3)
					width: auto
					max-width: none
				&:nth-child(2)
					max-width: 180px
				@media(max-width: $xs)
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3)
						max-width: none
						width: 100%
						&:not(:last-child)
							margin-bottom: 10px

.btn-wrapper
	.btn
		min-width: 155px
		padding: 
			left: 25px
			right: 25px
		display: inline-block
	@media(max-width: $xs)
		text-align: center
		.btn
			display: block
			float: none
			&:not(:last-child)
				margin-bottom: 15px