<div class="popup-wrapper login-wrapper">
	<table class="full">
		<tr>
			<td class="txt-center">
				<div class="popup">
					
					<div class="txt-center">
						<img class="logo" src="assets/img/logo.png">
						<h2 class="font48 condensed mt-3 ln1">Sign Up!</h2>
					</div>

					<div class="process-container txt-center txt-upper font24 p-4">
						<div class="row">
							<div class="col"><a href="javascript:void(0)" [class.active]="about" class="dec-none light condensed relative block">About <span class="hidden-sm">You</span></a></div>
							<div class="col"><a href="javascript:void(0)" [class.active]="plan" class="dec-none light condensed relative block"><span class="hidden-xs">Create</span> <span class="hidden-sm">Your</span> Plan</a></div>
							<div class="col"><a href="javascript:void(0)" [class.active]="pass" class="dec-none light condensed relative block">Pass<span class="hidden-xs">word</span></a></div>
						</div>
					</div>

					
					<div *ngIf="!plan" class="txt-center mt-2">
						<table class="input-wrapper txt-left w-full">
							<tr>
								<td class="td-structure">
									
									<table class="w-full">
										<tr>
											<td>
												<div class="single single-wf-label">
													<img class="wf-label" src="assets/img/user.svg">
													<input class="w-full" type="text" name="firstName" placeholder="First Name" [(ngModel)]="firstName">
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="single single-wf-label">
													<img class="wf-label" src="assets/img/user.svg">
													<input class="w-full" type="text" name="lastName" placeholder="Last Name"
														[(ngModel)]="lastName">
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<label for="gender" class="block fon16 light">Gender</label>
												<div class="multipl-two">
													<a href="javascript:void(0)" class="input-btn" 
														[class.input-btn-toggle]="gender === 'Male'"
														(click)="gender = 'Male'">Male</a>
													<a href="javascript:void(0)" class="input-btn"
														[class.input-btn-toggle]="gender === 'Female'"
														(click)="gender = 'Female'">Female</a>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<label for="date_of_bitrh" class="block fon16 light">Date of Birth</label>
												<div class="multipl-three accent-center txt-center">
													<a href="javascript:void(0)" class="input-btn input-btn-select left"
														(click)="openDropdown($event, 0)">
														{{day | number:'2.0-0'}}
														<ul *ngIf="dropDowns[0]" class="drop-down def-ul">
															<li *ngFor="let d of getDays()" (click)="day = d">{{d | number:'2.0-0'}}</li>
														</ul>
													</a>
													<a href="javascript:void(0)" class="input-btn input-btn-select"
														(click)="openDropdown($event, 1)">
														{{month}}
														<ul *ngIf="dropDowns[1]" class="drop-down def-ul">
															<li *ngFor="let m of getMounts()" (click)="month = m">{{m}}</li>
														</ul>
													</a>
													<a href="javascript:void(0)" class="input-btn input-btn-select right"
														(click)="openDropdown($event, 2)">
														{{year}}
														<ul *ngIf="dropDowns[2]" class="drop-down def-ul">
															<li *ngFor="let y of getYears()" (click)="year = y">{{y}}</li>
														</ul>		
													</a>
												</div>
											</td>
										</tr>
									</table>

								</td>
								<td class="td-structure">
									
									<table class="w-full">
										<tr>
											<td>
												<label for="unitSystem" class="block fon16 light">Unit System</label>
												<a href="javascript:void(0)" class="input-btn input-btn-select"
													style="display: block; text-align: left;"
													(click)="openDropdown($event, 3)">
													{{unitSystem}}
													<ul *ngIf="dropDowns[3]" class="drop-down def-ul">
														<li (click)="unitSystem = 'Metric(g, kg, cm, m)'">Metric(g, kg, cm, m)</li>
														<li (click)="unitSystem = 'Another System'">Another System</li>
													</ul>
												</a>
											</td>
										</tr>
										<tr>
											<td>
												<label for="unitSystem" class="block fon16 light">Height</label>
												<div class="single single-wl-label">
													<span class="wf-label">cm</span>
													<input type="number" placeholder="168" class="condensed bold"
														name="height" [(ngModel)]="height">
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<label for="unitSystem" class="block fon16 light">Weight</label>
												<div class="single single-wl-label">
													<span class="wf-label">kg</span>
													<input type="number" placeholder="72.2" class="condensed bold"
														name="weight" [(ngModel)]="weight">
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>

					<div *ngIf="plan && !pass" class="txt-center mt-2">
						<table class="input-wrapper txt-left w-full" style="max-width: 400px; margin: auto;">
							<tr>
								<td>
									<table>
										<tr>
											<td>
												<label for="goal" class="block fon16 light">What is your goal?</label>
												<a href="javascript:void(0)" class="input-btn input-btn-select"
													style="display: block; text-align: left;"
													(click)="openDropdown($event, 4)">
													{{goal}}
													<ul *ngIf="dropDowns[4]" class="drop-down def-ul">
														<li (click)="goal = 'Tone Up'">Tone Up</li>
														<li (click)="goal = 'Tone Down'">Tone Down</li>
													</ul>
												</a>
											</td>
										</tr>
										<tr>
											<td>
												<label for="goal_weight" class="block fon16 light">Goal Weight for your plan</label>
												<div class="single single-wl-label">
													<span class="wf-label">kg</span>
													<input type="number" placeholder="0.0" class="condensed bold"
														name="goal_weight" [(ngModel)]="goal_weight">
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<label for="goal_weight" class="block fon16 light">Do you have any dietary requirements?</label>
												<div class="font18 black block mt-1">
													<div class="checkbox" [class.checked]="dietary === 'No Allergies'" 
														(click)="dietary = 'No Allergies'"></div> No Allegies</div>
												<div class="font18 black block">
													<div class="checkbox" [class.checked]="dietary === 'Vegetarian'" 
														(click)="dietary = 'Vegetarian'"></div> Vegetarian</div>
											</td>
										</tr>
										<tr>
											<td>
												<label for="experience" class="block fon16 light">What is your experience level with training?</label>
												<a href="javascript:void(0)" class="input-btn input-btn-select"
													style="display: block; text-align: left;"
													(click)="openDropdown($event, 5)">
													{{experience}}
													<ul *ngIf="dropDowns[5]" class="drop-down def-ul">
														<li (click)="experience = 'Beginner (0 - 6 months)'">Beginner (0 - 6 months)</li>
														<li (click)="experience = 'Intermediate (6 - 12 months)'">Intermediate (6 - 12 months)</li>
														<li (click)="experience = 'Advanced (more 1 year)'">Advanced (more 1 year)</li>
														<li (click)="experience = 'Expert (more 3 years)'">Expert (more 3 years)</li>
													</ul>
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>

					<div *ngIf="pass" class="txt-center mt-2">
						<table class="input-wrapper txt-left w-full" style="max-width: 400px; margin: auto;">
							<tr>
								<td>
									<table>
										<tr>
											<td>
												<label for="goal_weight" class="block fon16 light">Create your password</label>
												<div class="single single-wl-label">
													<img *ngIf="password && passVisibility === 'hide'" (click)="passVisibility = 'show'" src="assets/img/hide.svg" class="wf-label">
													<img *ngIf="password && passVisibility === 'show'" (click)="passVisibility = 'hide'" src="assets/img/show.svg" class="wf-label">
													<input [(ngModel)]="password" (keyup)="validatePassword(password)" 
														[type]="passVisibility === 'hide' ? 'password' : 'text'">
													<p class="font12 italic light black mt-1 ln13">Password must be at least 6 characters and contain at least one letter and one number. Passwords are case sensitive.</p>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>

					<div *ngIf="!plan" class="mt-4 btn-wrapper">
						<a href="javascript:void(0)" class="btn btn-circle btn-blue font24 default light"
							routerLink="/login">Back</a>
						<a href="javascript:void(0)" class="btn btn-circle btn-blue font24 default light right" 
							(click)="createPlan()">Next</a>
					</div>

					<div *ngIf="plan && !pass" class="mt-4 btn-wrapper">
						<a href="javascript:void(0)" class="btn btn-circle btn-blue font24 default light"
							(click)="plan = false;">Back</a>
						<a href="javascript:void(0)" class="btn btn-circle btn-blue font24 default light right" 
							(click)="createPass()">Next</a>
					</div>

					<div *ngIf="pass" class="mt-4 btn-wrapper">
						<a href="javascript:void(0)" class="btn btn-circle btn-blue font24 default light"
							(click)="pass = false;">Back</a>
						<a *ngIf="validPass" href="javascript:void(0)" class="btn btn-circle btn-blue font24 default light right" 
							(click)="createUser()">Let's Start !</a>
					</div>

				</div>
			</td>
		</tr>
	</table>
</div>

