<div class="component-title-container relative p-4">
	<h2 class="title font48 bold condensed ln1">Dashboard</h2>
	<p class="font18 light ln13 max-width-descr">Week 1 Wednesday 27 February, 2018</p>

	<div class="user-container absolute">
		<span class="hidden-sm">{{_authService.currentUser.firstName}} {{_authService.currentUser.lastName}}</span>
		<img class="user-logo" [src]="_authService.currentUser.logo">
	</div>	
</div>

<div class="component-content cards">
	<div class="row">
		
		<div class="col-xl-6">
			<div id="weight-log" class="card card-w-black-top">
				<div class="top-container font30 card-paddings" style="background-image: linear-gradient(to top, #38578e, #1a2c55);">Progress Photos</div>
				<div class="progress-wrapper">

					<div class="progress" *ngFor="let progress of _authService.currentUser.progressPhotos"
						[class.comparasion]="progress.comparasion">

						<div class="img" [style.backgroundImage]="'url(' + progress.progress1.photo  + ')'">
							<div class="info">
								<div *ngIf="progress.progress1.week" class="week inline-block">
									<p>Week</p>
									<span>{{progress.progress1.week}}</span>
								</div>
								<div *ngIf="progress.progress1.weight" class="kg inline-block">
									<p>kg</p>
									<span>{{progress.progress1.weight}}</span>
								</div>
							</div>
						</div>

						<div *ngIf="progress.comparasion" class="img second" [style.backgroundImage]="'url(' + progress.progress2.photo  + ')'">
							<div class="info">
								<div *ngIf="progress.progress2.week" class="week inline-block">
									<p>Week</p>
									<span>{{progress.progress2.week}}</span>
								</div>
								<div *ngIf="progress.progress2.weight" class="kg inline-block">
									<p>kg</p>
									<span>{{progress.progress2.weight}}</span>
								</div>
							</div>
						</div>

						<div class="details">
							<p class="caption ln1">{{progress.caption}}</p>
							<span class="tag inline-block"></span>
							<span class="tag" *ngFor="let tag of progress.tags">{{tag + ' '}}</span>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		
		<div class="col-xl-6">
			<div id="progress" class="card card-w-black-top">
				<div class="top-container font30 card-paddings" style="background-image: linear-gradient(to top, #eb2129, #ab131c);">Weight Tracker</div>
				<div class="dashboard-chart">
					<app-weight-chart [dashboard]="true"></app-weight-chart>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="card card-with-bottom card-dashboard-with-top card-dashboard-supplement card25">
				<div class="bottom-container card-paddings absolute">
					<table class="ln13 w-full">
						<tr>
							<td>
								<p class="font30 condensed bold">My Supplement Plan</p>
							</td>
							<td>
								<a href="javascript:void(0)" class="btn btn-red" routerLink="/supplement-plan">View <span class="hidden-sm">My Recommendations</span></a>
							</td>
						</tr>
					</table>
				</div>
				<div class="bg-container absolute" style="background-image: url('assets/img/supplements.jpg')"></div>
			</div>
		</div>

		<div class="col-xl-6">
			<div class="card card-with-bottom card-dashboard-with-top card5">
				<div class="bottom-container card-paddings absolute">
					<table class="ln13 w-full">
						<tr>
							<td>
								<p class="font30 condensed bold">Meal Plan</p>
								<p class="font18">Download your Week 1 Meal Plan now</p>
							</td>
							<td><a href="javascript:void(0)" class="btn btn-white">Get</a></td>
						</tr>
					</table>
				</div>
				<div class="bg-container absolute" style="background-image: url('assets/img/meal/meal8.jpg')"></div>
			</div>
		</div>

		<div class="col-xl-6">
			<div class="card card-with-bottom card-dashboard-with-top card5">
				<div class="bottom-container card-paddings absolute">
					<table class="ln13 w-full">
						<tr>
							<td>
								<p class="font30 condensed bold">Workout Program</p>
								<p class="font18">Download your Week 1 Workout Program now.</p>
							</td>
							<td><a href="javascript:void(0)" class="btn btn-white">Get</a></td>
						</tr>
					</table>
				</div>
				<div class="bg-container absolute" style="background-image: url('assets/img/workout/work3.jpg')"></div>
			</div>
		</div>

	</div>
</div>