@import '../../styles/vars'

.progress-wrapper
	padding: 20px 20px 10px
	white-space: nowrap
	overflow-y: auto
	position: absolute
	top: 62px
	left: 0
	right: 0
	bottom: 10px
	@media(max-width: $lg)
		position: static
		height: 350px

	.progress
		vertical-align: top
		display: inline-block
		background-color: #ffffff
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5)
		width: 100%
		height: 100%
		max-width: 150px
		max-height: 80%
		position: relative
		&:not(:last-child)
			margin-right: 25px
		.img
			position: relative
			height: 100%
			background-size: cover
			background-position: center top
			background-repeat: no-repeat
		.details
			color: #000
			font-size: 15px
			padding: 8px 7px 5px
			.caption
				max-width: 100%
				height: 17px
				overflow: hidden
			.tag
				max-width: 100%
				height: 15px
				overflow: hidden
		.info
			border-radius: 7px
			background-color: rgba(#2c2c2c, .6)
			color: #fff
			position: absolute
			bottom: 5px
			left: 10px
			padding: 4px 0
			.week,
			.kg
				padding: 5px 10px 0px
				text-align: center
				p
					font-size: 10px
					font-weight: $light
					margin-bottom: -3px
					color: rgba(#fff, .7)
				span
					font-size: 24px
					font-weight: $bold
					line-height: 0.83
					font-family: $def-cond-font
			.week
				border-right: 1px solid rgba(#fff, .5)	

	.comparasion
		width: 100%
		max-width: 230px
		.img
			margin-bottom: -10px
			width: 50%
			display: inline-block
			z-index: 1
			border-radius: 6px 0 0 0 
			.info
				.kg,
				.week
					padding:
						left: 4px !important
						right: 4px !important
		.second
			border-radius: 0 6px 0 0
			position: absolute
			top: 0px
			right: 0px
			bottom: 0px
			z-index: 0

.user-container
	top: calc(50% - 32.5px)
	right: 40px
	@media(max-width: $lg)
		right: 30px
	@media(max-width: $md)
		right: 0px
	@media(max-width: $sm)
		top: calc(50% - 30px)
	.user-logo
		margin-top: -5px
		vertical-align: middle
		margin-left: 15px
		width: 70px
		height: 70px
		@media(max-width: $sm)
			width: 60px
			height: 60px

.max-width-descr
	@media(max-width: $xs)
		max-width: 200px

.card-dashboard-supplement
	.bottom-container
		padding:
			top: 10px
			bottom: 0px
	.btn-red
		width: 275px
		padding: 16px 10px 10px
		@media(max-width: $sm)
			width: auto
			min-width: 100px
	.bg-container
		top: 70px