<header class="txt-center fixed">
	<div class="menu-btn left" (click)="show.emit(true)">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</div>
	<div class="logo">
		<img src="assets/img/logo.png">
	</div>
</header>
