@import '../../styles/vars'

header
	z-index: 11
	display: none
	background-color: #f8f8f8
	box-shadow: 0 2px 3px 0 rgba(30, 30, 30, 0.18)
	top: 0
	left: 0
	right: 0
	@media(max-width: $md)
		display: block

.logo
	display: inline-block
	margin: auto
	padding-top: 7px
	img
		max-height: 47px

.menu-btn
	cursor: pointer
	position: absolute
	left: 15px
	top: calc(50% - 9.5px)
	padding: 0 2px
	.line
		display: block
		width: 32px
		height: 3px
		background-color: #192b56
		&:nth-child(2)
			margin: 5px 0
		&:last-child
			width: 60%