<div class="component-title-container p-4">
	<h2 class="title font48 bold condensed ln1">Workout Program</h2>
</div>

<div class="component-content cards">
	<div class="row">
		<div class="col-lg-6">
			<div class="card card-with-bottom card25" 
				[style.backgroundImage]="'url(assets/img/workout/work1.jpg)'">
				<h2 class="lg-title absolute bold font64 txt-upper ln1 card-paddings">Week 1</h2>
				<div class="bottom-container card-paddings absolute">
					<table class="ln13 w-full">
						<tr>
							<td><p class="font18">Download your Week 1 Workout Program now</p></td>
							<td><a href="javascript:void(0)" class="btn btn-white">Get</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card card-with-bottom card25" 
				[style.backgroundImage]="'url(assets/img/workout/work2.jpg)'">
				<h2 class="lg-title absolute bold font64 txt-upper ln1 card-paddings">Week 2</h2>
				<div class="bottom-container card-paddings absolute">
					<table class="ln13 w-full">
						<tr>
							<td><p class="font18">Download your Week 2 Workout Program now</p></td>
							<td><a href="javascript:void(0)" class="btn btn-white">Get</a></td>
						</tr>
					</table>
				</div>		
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card card-with-bottom card25" 
				[style.backgroundImage]="'url(assets/img/workout/work3.jpg)'">
				<h2 class="lg-title absolute bold font64 txt-upper ln1 card-paddings">Week 3</h2>
				<div class="bottom-container card-paddings absolute">
					<table class="ln13 w-full">
						<tr>
							<td><p class="font18">Download your Week 3 Workout Program now</p></td>
							<td><a href="javascript:void(0)" class="btn btn-white">Get</a></td>
						</tr>
					</table>
				</div>		
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card card-with-bottom card25" 
				[style.backgroundImage]="'url(assets/img/workout/work4.jpg)'">
				<h2 class="lg-title absolute bold font64 txt-upper ln1 card-paddings">Week 4</h2>
				<div class="bottom-container card-paddings absolute">
					<table class="ln13 w-full">
						<tr>
							<td><p class="font18">Download your Week 4 Workout Program now</p></td>
							<td><a href="javascript:void(0)" class="btn btn-white">Get</a></td>
						</tr>
					</table>
				</div>		
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card card-with-bottom card25" 
				[style.backgroundImage]="'url(assets/img/workout/work5.jpg)'">
				<h2 class="lg-title absolute bold font64 txt-upper ln1 card-paddings">Week 5</h2>
				<div class="bottom-container card-paddings absolute">
					<table class="ln13 w-full">
						<tr>
							<td><p class="font18">Download your Week 5 Workout Program now</p></td>
							<td><a href="javascript:void(0)" class="btn btn-white">Get</a></td>
						</tr>
					</table>
				</div>		
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card card-with-bottom card25" 
				[style.backgroundImage]="'url(assets/img/workout/work6.jpg)'">
				<h2 class="lg-title absolute bold font64 txt-upper ln1 card-paddings">Week 6</h2>
				<div class="bottom-container card-paddings absolute">
					<table class="ln13 w-full">
						<tr>
							<td><p class="font18">Download your Week 6 Workout Program now</p></td>
							<td><a href="javascript:void(0)" class="btn btn-white">Get</a></td>
						</tr>
					</table>
				</div>		
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card card-with-bottom card25" 
				[style.backgroundImage]="'url(assets/img/workout/work7.jpg)'">
				<h2 class="lg-title absolute bold font64 txt-upper ln1 card-paddings">Week 7</h2>
				<div class="bottom-container card-paddings absolute">
					<table class="ln13 w-full">
						<tr>
							<td><p class="font18">Download your Week 7 Workout Program now</p></td>
							<td><a href="javascript:void(0)" class="btn btn-white">Get</a></td>
						</tr>
					</table>
				</div>		
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card card-with-bottom card25" 
				[style.backgroundImage]="'url(assets/img/workout/work8.jpg)'">
				<h2 class="lg-title absolute bold font64 txt-upper ln1 card-paddings">Week 8</h2>
				<div class="bottom-container card-paddings absolute">
					<table class="ln13 w-full">
						<tr>
							<td><p class="font18">Download your Week 8 Workout Program now</p></td>
							<td><a href="javascript:void(0)" class="btn btn-white">Get</a></td>
						</tr>
					</table>
				</div>		
			</div>
		</div>
	</div>
</div>


