@import '../../../styles/vars'

.weight-chart
	border-radius: 0 0 $def-radius $def-radius
	&.positive
		background-image: linear-gradient(to top, #52fbbd, green)
	&.negative
		background-image: linear-gradient(to top, #f57483, #e8404c)
	#canvas
		height: auto !important

.progress-box
	padding-bottom: 10px
	.col
		padding: 0

@media(max-width: 1440px)
	.font44
		font-size: 42px
	.font22
		font-size: 20px

@media(max-width: $lg)
	.font44
		font-size: 38px

@media(max-width: $md)
	.progress-box
		.col
			padding:
				left: 15px
				right: 15px

@media(max-width: $xs)
	.font44
		font-size: 25px
	.font22
		font-size: 16px
	.progress-box
		.col
			padding:
				left: 6px
				right: 6px

.dashboard

	.progress-box
		padding-bottom: 10px
		.font44
			font-size: 33px
		.font22
			font-size: 18px
		.txt-left,
		.txt-right
			text-align: center
		@media(max-width: $xs)
			.font44
				font-size: 25px
			.font22
				font-size: 16px

	.hidden-lg
		display: none