<div [class.dashboard]="dashboard">
	<div class="progress-box bg-white py-2 card-paddings black">
		<div class="row">
			<div class="col txt-left">
				<div class="txt-center inline-block">
					<span class="font44 bold ln1">{{_weightService.startWeight | number:'1.1-1'}}</span> 
					<span class="font22">kg</span>
					<p class="font22 ln13">Start <span class="hidden-lg">Weight</span></p>
				</div>
			</div>
			<div class="col txt-center">
				<span class="font44 bold ln1">{{_weightService.currentWeight | number:'1.1-1'}}</span> 
				<span class="font22">kg</span>
				<p class="font22 ln13">Current <span class="hidden-lg">Weight</span></p>
			</div>
			<div class="col txt-right">
				<div class="txt-center inline-block">
					<span class="font44 bold ln1"
						[style.color]="_weightService.result === 'positive' ? 'green' : '#ff0000'">
						<span *ngIf="_weightService.result === 'positive'">+</span><span *ngIf="_weightService.result === 'negative'">-</span>{{_weightService.progress | number:'1.1-1'}}</span> 
					<span class="font22">kg</span>
					<p class="font22 ln13">Progress</p>
				</div>
			</div>
		</div>
	</div><!-- Progress -->

	<div class="weight-chart negative">
		<div class="spinner" *ngIf="!_weightService.allowLoading"></div>
		<canvas id="canvas">{{ _weightService.chart }}</canvas>
	</div><!-- Weight Chart -->
</div>