@import '../../styles/vars' 

.card
	background-color: $bg-color
	@media(max-width: $lg)
		height: auto !important
		.starting-weight
			border-radius: 0 0 $def-radius $def-radius

.week-wrapper
	.accent
		opacity: .29
	.icon-plus
		margin-top: -4px

.weight
	margin-top: -3px

.bt1
	border-color: $accent4-color

.weeks-weight
	top: calc(50% - 15.5px)
	right: 30px

.arrow
	top: calc(50% - 9.5px)
	right: 5px
	width: 17px
	height: auto
	@media(max-width: $md)
		top: 32px
	@media(max-width: $sm)
		top: 29px
	@media(max-width: $xs)
		top: 28px

.logs
	max-height: 255px
	overflow-y: auto

