@import '../../styles/vars'

.component-title-container
	.btn-circle
		margin-top: -9px
		@media(max-width: $sm)
			float: none
			margin-top: 15px
			display: block

.progress-wrapper
	text-align: center
	@media(max-width: $md)
		.row
			margin: 0

.ph-wrapper
	position: relative
	height: 335px
	border-radius: 6px
	background-color: #ffffff
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5)
	margin: 0 auto 30px
	max-width: 240px

	.upload-container
		cursor: pointer
		border-radius: 6px 6px 0 0
		overflow: hidden
		table
			background-image: linear-gradient(to top, #38578e, #1a2c55)
			height: 200px
			td
				padding: 5px
				.tl1
					font-size: 25px
				.tl2
					font-size: 19px
		.upload-icon
			max-width: 75px
	.wk-container
		text-align: left
		.img-container
			position: relative
			height: 240px
			border-radius: 6px 6px 0 0
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5)
			background-size: cover
			background-position: center center
			background-repeat: no-repeat
		.info
			padding: 10px
			font-size: 10px
			color: #000
			line-height: 1.3
			font-weight: $light
			.descr
				max-height: 40px
				overflow: hidden
			.tags
				opacity: .35
				max-height: 20px
				overflow: hidden
	.date
		font-size: 10px
		bottom: 0
		left: 10px
		right: 10px
		padding-top: 3px
		border-color: rgba(#000, .1)
		color: #000
	.details
		border-radius: 7px
		background-color: rgba(#2c2c2c, .6)
		color: #fff
		position: absolute
		bottom: 5px
		left: 5px
		padding: 4px 0
		.week,
		.kg
			padding: 5px 10px 0px
			text-align: center
			p
				font-size: 10px
				font-weight: $light
				margin-bottom: -3px
				color: rgba(#fff, .7)
			span
				font-size: 24px
				font-weight: $bold
				line-height: 0.83
				font-family: $def-cond-font
		.week
			border-right: 1px solid rgba(#fff, .5)	

.comparasion
	.kg,
	.week
		padding:
			left: 4px !important
			right: 4px !important
	.wk-container
		.info
			padding-top: 0px
		.img-container
			width: 50%
			display: inline-block
			z-index: 1
			border-radius: 6px 0 0 0 
			&.selected
				border: solid 3px #eb2129
		.second
			border-radius: 0 6px 0 0
			position: absolute
			top: 0px
			right: 0px
			bottom: 10px
			z-index: 0
		.cancel-img
			top: -17.5px
			right: -17.5px
			width: 35px
			height: 35px
			img
				width: 35px
				height: 35px


.upload-container

	.card
		background-color: #f5f5f5

	.top-container
		.col
			transition: opacity $def-transition
		.inactive
			font-weight: $light
			opacity: .3

	.procces-lines
		padding-bottom: 5px
		@media(max-width: $md)
			.row
				margin: 0
		.line
			margin-top: 5px
			height: 7px
			background-color: #eb2129
			transition: background-color $def-transition
			&.inactive
				background-color: #d8d8d8

	.top-container,
	.procces-lines
		.col
			&:first-child
				padding: 0
			&:last-child
				padding: 0
		@media(max-width: $xs)
			.col:nth-child(2)
				padding: 0

	.upload-title
		line-height: 1.28
		padding: 50px 0
		@media(max-width: $lg)
			padding: 40px 0
		@media(max-width: $md)
			padding: 30px 0

	.upload-photo-proccess
		padding: 0 15px 50px
		@media(max-width: $md)
			padding-bottom: 40px
		@media(max-width: $sm)
			padding-bottom: 30px
		.ph-wrapper
			max-width: 510px
			height: 400px
			.upload-container
				cursor: default
				top: 10px
				left: 5px
				right: 5px
				bottom: 10px
				.upload-icon
					max-width: 180px
					@media(max-width: $lg)
						max-width: 160px
					@media(max-width: $md)
						max-width: 140px
					@media(max-width: $sm)
						max-width: 120px
					@media(max-width: $xs)
						max-width: 100px
				table
					background-image: none
					height: 100%
				.btn-blue
					margin-top: 20px
				.comparasion
					border-collapse: separate
					border-spacing: 5px 0px
					.comparasion-td
						position: relative
						border: solid 3px rgba(#1a2c55, .15)
						transition: border $def-transition
						width: 50%
						background-size: cover
						background-position: center center
						background-repeat: no-repeat
						.btn-circle
							@media(max-width: $xs)
								padding:
									left: 0
									right: 0
						.cancel-img
							top: 0
							right: 0
							width: 35px
							height: 35px
							img
								width: 35px
								height: 35px
						.td-title
							color: #1a2c55
							font-size: 115px
							opacity: .15
							transition: opacity $def-transition
						&:hover
							&:not(.uploaded)
								border: solid 5px #eb2129
								.td-title
									opacity: 1

	.create-photo-procces
		.col-lg-7,
		.col-lg-5
			padding: 0 0 30px 0

		.upload-title
			padding: 30px

		.create-img-proccess
			@media(max-width: $xs)
				padding:
					left: 10px
					right: 10px
		
		.ph-wrapper
			max-width: 400px
			height: auto
			.img-container
				min-height: 500px
			&.comparasion
				max-width: 460px
				.wk-container
					padding: 10px
				.img-container
					min-height: 400px
					&:nth-child(1)
						width: calc(50% - 10px)
					&:nth-child(2)
						top: 10px
						right: 10px

		.caption-container
			position: relative
			padding: 20px 30px
			margin-top: 70px
			@media(max-width: $md)
				margin-top: 0px

		textarea
			border-radius: 2px
			height: 140px

		.input-values
			padding: 10px 10px 0
			table
				td
					&:first-child,
					&:last-child
						width: 70px
					&:first-child
						padding-left: 15px
			input
				text-align: center
				font-size: 48px
				height: 60px
				width: 75px
				font-family: $def-cond-font
				font-weight: $bold
				border: none
				outline: none
			@media(max-width: $xs)
				table
					td:first-child
						padding-left: 0

		@media(max-width: $md)
			.col-xl-7
				background-color: transparent
			.shadow
				&:after,
				&:before
					display: none

	.next-btn
		position: absolute
		bottom: 20px
		right: 20px
		width: 100%
		max-width: 195px
		margin: 20px 30px
		@media(max-width: $lg)
			position: static

.file-wrapper
	top: 0px
	left: 0px
	right: 0px
	bottom: 0px
	text-align: center
	input[type="file"]
		cursor: pointer
		border: 1px solid red
		height: 100%
		width: 100%
		border-radius: 30px
		outline: none
		opacity: 0
		border: 1px solid red

.cancel-img
	position: absolute
	top: -23px
	right: -23px
	border-radius: 100%
	background-color: #fff
	width: 46px
	height: 46px
	img
		width: 46px
		height: 46px 


.upload-icon
	@media(max-width: $xs)
		max-width: 50px