<div class="component-title-container p-4">
	<h2 class="title font48 bold condensed ln1 inline-block">Progress Photos</h2>
	<a *ngIf="!upload" href="javascript:void(0)" class="btn btn-circle btn-red right font20" style="min-width: 290px;" (click)="uploadProcces(true)">Make a comparasion photo [][]</a>
	<a *ngIf="upload && !create" href="javascript:void(0)" class="btn btn-circle btn-red right default font20" style="min-width: 195px; font-weight: 400;" (click)="upload = false;">Back</a>

	<a *ngIf="create && !share" href="javascript:void(0)" class="btn btn-circle btn-red right default font20" style="min-width: 195px; font-weight: 400;" (click)="disableCreate()">Back</a>
	
	<a *ngIf="share" href="javascript:void(0)" class="btn btn-circle btn-red right default font20" style="min-width: 195px; font-weight: 400;" (click)="share = false;">Back</a>
</div>

<div *ngIf="!upload" class="component-content no-cards">
	
	<div class="row">
		<div class="col-12">
			<div class="card card-w-black-top">
				<div class="top-container font30 card-paddings">Weekly Progress Photos</div>
				<div class="py-3 progress-wrapper">
					<div class="row mt-3">
						
						<div class="col-sm-6 col-lg-4 col-xl-3">
							<div class="ph-wrapper" (click)="uploadProcces(false)">
								<div class="upload-container">
									<table class="txt-center txt-upper w-full white condensed ln1">
										<tr>
											<td>
												<p class="tl1 light" style="margin-bottom: 3px;">Upload Your</p>
												<p class="font48 bold">Week {{_authService.currentUser.progressPhotos.length + 1}}</p>
												<p class="tl2 light" style="margin-top: -3px;">Progress Photo</p>
											</td>
										</tr>
									</table>
									<div class="txt-center pt-2">
										<img src="assets/img/add.svg" class="upload-icon">
									</div>
								</div>
							</div>
						</div><!-- Upload Photo -->

						<div class="col-sm-6 col-lg-4 col-xl-3" 
							*ngFor="let progress of _authService.currentUser.progressPhotos">
							<div class="ph-wrapper" [class.comparasion]="progress.comparasion">
								<div class="wk-container">
									<div class="img-container" [style.backgroundImage]="'url(' + progress.progress1.photo + ')'">
										<div class="details">
											<div *ngIf="progress.progress1.week" class="week inline-block">
												<p>Week</p>
												<span>{{progress.progress1.week}}</span>
											</div>
											<div *ngIf="progress.progress1.weight" class="kg inline-block">
												<p>kg</p>
												<span>{{progress.progress1.weight | number:'1.1-1'}}</span>
											</div>
										</div>
									</div>
									<div *ngIf="progress.comparasion" class="img-container second" [style.backgroundImage]="'url(' + progress.progress2.photo + ')'">
										<div class="details">
											<div *ngIf="progress.progress2.week" class="week inline-block">
												<p>Week</p>
												<span>{{progress.progress2.week}}</span>
											</div>
											<div *ngIf="progress.progress2.weight" class="kg inline-block">
												<p>kg</p>
												<span>{{progress.progress2.weight | number:'1.1-1'}}</span>
											</div>
										</div>
									</div>
									<div class="info">
										<div class="descr">{{progress.caption}}</div>
										<div class="tags">
											<span *ngFor="let tag of progress.tags">{{tag + ' '}}</span>
										</div>
									</div>
									<div class="date absolute light bt1">{{progress.date | date:'EEEE dd MMMM, y'}}</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div><!-- Progress Photos -->

<div class="component-content no-cards upload-container" *ngIf="upload">
	
	<div class="row">
		<div class="col-12">
			<div class="card card-w-black-top">
				
				<div class="top-container font30">
					<div class="row">
						<div class="col txt-center">Upload <span class="hidden-md">Your Photo</span></div>
						<div class="col txt-center" [class.inactive]="!create">Create <span class="hidden-md">Post</span></div>
						<div class="col txt-center" [class.inactive]="!share">Share</div>
					</div>
				</div>
				
				<div class="procces-lines relative bg-white">
					<div class="row">
						<div class="col">
							<div class="line"></div>
						</div>
						<div class="col">
							<div class="line" [class.inactive]="!create"></div>
						</div>
						<div class="col">
							<div class="line" [class.inactive]="!share"></div>
						</div>
					</div>
				</div>

				<div *ngIf="!create" class="upload-photo-proccess bg-white">
					<h2 *ngIf="!progress.comparasion" class="upload-title bold font48 txt-center condensed">Progress Photo</h2>
					<h2 *ngIf="progress.comparasion" class="upload-title bold font48 txt-center condensed">Comparasion Photo</h2>

					<div class="ph-wrapper">
						<div class="upload-container absolute">
							<table class="w-full txt-center" [class.comparasion]="progress.comparasion">
								<tr>
									<td *ngIf="!progress.comparasion">
										<img src="assets/img/add.svg" class="upload-icon">
										<a href="javascript:void(0)" class="relative btn btn-circle btn-blue default font20 w-full" style="max-width: 380px;">Upload your photo
											<div class="absolute file-wrapper">
												<input type="file" (change)="uploadImage($event, '1')">
											</div>
										</a>
									</td>
									
									<td *ngIf="progress.comparasion" class="comparasion-td" 
										[class.uploaded]="progress.progress1.photo"
										[style.backgroundImage]="'url(' + progress.progress1.photo + ')'">
										<a *ngIf="progress.progress1.photo !== ''" class="cancel-img" href="javascript:void(0)"><img src="assets/img/cancel.svg" (click)="progress.progress1.photo = ''"></a>
										<span *ngIf="!progress.progress1.photo" class="td-title bold condensed ln1">1</span>
										<a *ngIf="!progress.progress1.photo" href="javascript:void(0)" class="relative btn btn-circle btn-blue default font16 w-full" style="max-width: 200px;">Upload <span class="hidden-xs">photo</span>
											<div class="absolute file-wrapper">
												<input type="file" (change)="uploadImage($event, '1')">
											</div>
										</a>
									</td>
									<td *ngIf="progress.comparasion" class="comparasion-td" 
										[class.uploaded]="progress.progress2.photo"
										[style.backgroundImage]="'url(' + progress.progress2.photo + ')'">
										<a *ngIf="progress.progress2.photo !== ''" class="cancel-img" href="javascript:void(0)"><img src="assets/img/cancel.svg" (click)="progress.progress2.photo = ''"></a>
										<span *ngIf="!progress.progress2.photo" class="td-title bold condensed ln1">2</span>
										<a *ngIf="!progress.progress2.photo" href="javascript:void(0)" class="relative btn btn-circle btn-blue default font16 w-full" style="max-width: 200px;">Upload <span class="hidden-xs">photo</span>
											<div class="absolute file-wrapper">
												<input type="file" (change)="uploadImage($event, '2')">
											</div>
										</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div><!-- upload photo proccess -->

				<div *ngIf="create" class="create-photo-procces">
					
					<div class="row">
						<div class="col-lg-6 col-xl-7 bg-white">
							<h2 class="upload-title bold font48 txt-center condensed ln13">Progress Photo</h2>

							<div class="px-3 create-img-proccess">
								<div class="ph-wrapper" [class.comparasion]="progress.comparasion">
									<div class="wk-container relative">
										
										<div class="img-container" 
											[class.selected]="progress1 && !share"
											[style.backgroundImage]="'url(' + progress.progress1.photo + ')'">
											
											<a *ngIf="progress.progress1.photo !== 'assets/img/spacer.png'" href="javascript:void(0)" class="absolute" style="top: 0; left: 0; right: 0; bottom: 0;" (click)="progress1 = true; progress2 = false "></a>

											<a *ngIf="progress.progress1.photo !== 'assets/img/spacer.png'" class="cancel-img" href="javascript:void(0)"><img src="assets/img/cancel.svg" (click)="progress.progress1.photo = 'assets/img/spacer.png'"></a>

											<table *ngIf="progress.progress1.photo === 'assets/img/spacer.png'" class="full txt-center">
												<tr>
													<td>
														<div>
															<img style="max-width: 150px" src="assets/img/add.svg" class="upload-icon">
															<div class="absolute full file-wrapper">
																<input type="file" (change)="uploadImage($event, '1')">
															</div>
														</div>
													</td>
												</tr>
											</table>
								

											<div class="details" *ngIf="progress.progress1.week || progress.progress1.weight">
												<div *ngIf="progress.progress1.week && week" class="week inline-block">
													<p>Week</p>
													<span>{{progress.progress1.week}}</span>
												</div>
												<div *ngIf="progress.progress1.weight && weight" class="kg inline-block">
													<p>kg</p>
													<span>{{progress.progress1.weight | number:'1.1-1'}}</span>
												</div>
											</div>
										</div>

										<div *ngIf="progress.comparasion" class="img-container second" 
											[class.selected]="progress2 && !share"
											[style.backgroundImage]="'url(' + progress.progress2.photo + ')'">
								
											<a *ngIf="progress.progress2.photo !== 'assets/img/spacer.png'" href="javascript:void(0)" class="absolute" style="top: 0; left: 0; right: 0; bottom: 0;" (click)="progress2 = true; progress1 = false "></a>

											<a *ngIf="progress.progress2.photo !== 'assets/img/spacer.png'" class="cancel-img" href="javascript:void(0)"><img src="assets/img/cancel.svg" (click)="progress.progress2.photo = 'assets/img/spacer.png'"></a>

											<table *ngIf="progress.progress2.photo === 'assets/img/spacer.png'" class="full txt-center">
												<tr>
													<td>
														<div>
															<img style="max-width: 150px" src="assets/img/add.svg" class="upload-icon">
															<div class="absolute full file-wrapper">
																<input type="file" (change)="uploadImage($event, '2')">
															</div>
														</div>
													</td>
												</tr>
											</table>
								

											<div class="details" *ngIf="progress.progress2.week || progress.progress1.weight">
												<div *ngIf="progress.progress2.week && week2" class="week inline-block">
													<p>Week</p>
													<span>{{progress.progress2.week}}</span>
												</div>
												<div *ngIf="progress.progress2.weight && weight2" class="kg inline-block">
													<p>kg</p>
													<span>{{progress.progress2.weight | number:'1.1-1'}}</span>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>


						</div>

						<div class="col-lg-6 col-xl-5 relative shadow shadow-down shadow-right">
							
							<div class="caption-container font14 light">

								<div *ngIf="!share">
									Write a caption
									<textarea [(ngModel)]="progress.caption" class="rounded-shadow block w-full default" placeholder="Write your caption and #tags"></textarea>
								</div>

								<div *ngIf="!share && !progress2" class="input-values rounded-shadow bg-white mt-2">
									<table class="w-full">
										<tr>
											<td class="txt-left">
												<span class="font18">Week</span>
											</td>
											<td class="txt-center">
												<input *ngIf="week" [(ngModel)]="progress.progress1.week" type="number" placeholder="1">
											</td>
											<td class="txt-right">
												<div class="toggle-move" [class.active]="week" (click)="week = !week"></div>
											</td>
										</tr>
									</table>
								</div>

								<div *ngIf="!share && !progress2" class="input-values rounded-shadow bg-white mt-2 txt-center">
									<table class="w-full">
										<tr>
											<td class="txt-left">
												<span class="font18">Weight</span>
											</td>
											<td class="txt-center">
												<input *ngIf="weight" [(ngModel)]="progress.progress1.weight" type="number" placeholder="70">
											</td>
											<td class="txt-right">
												<div class="toggle-move" [class.active]="weight" (click)="weight = !weight"></div>
											</td>
										</tr>
									</table>
								</div>

								<div *ngIf="!share && progress2" class="input-values rounded-shadow bg-white mt-2">
									<table class="w-full">
										<tr>
											<td class="txt-left">
												<span class="font18">Week</span>
											</td>
											<td class="txt-center">
												<input *ngIf="week2" [(ngModel)]="progress.progress2.week" type="number" placeholder="1">
											</td>
											<td class="txt-right">
												<div class="toggle-move" [class.active]="week2" (click)="week2 = !week2"></div>
											</td>
										</tr>
									</table>
								</div>

								<div *ngIf="!share && progress2" class="input-values rounded-shadow bg-white mt-2 txt-center">
									<table class="w-full">
										<tr>
											<td class="txt-left">
												<span class="font18">Weight</span>
											</td>
											<td class="txt-center">
												<input *ngIf="weight2" [(ngModel)]="progress.progress2.weight" type="number" placeholder="70">
											</td>
											<td class="txt-right">
												<div class="toggle-move" [class.active]="weight2" (click)="weight2 = !weight2"></div>
											</td>
										</tr>
									</table>
								</div>

								<div *ngIf="share" class="input-values rounded-shadow bg-white mt-2">
									<table class="w-full">
										<tr>
											<td style="width: 60px;">
												<img src="assets/img/fb.svg" style="width: 30px;">
											</td>
											<td class="txt-left">
												<span class="font18">Facebook</span>
											</td>
											<td class="txt-right">
												<div class="toggle-move" [class.active]="progress.fb" (click)="progress.fb = !progress.fb"></div>
											</td>
										</tr>
									</table>
								</div>

							</div><!-- Caption  -->
							
							<div class="txt-right">
								<a *ngIf="create && !share" href="javascript:void(0)" class="btn btn-circle btn-blue next-btn" (click)="shareProgress(); progress1 = false; progress2 = false;" [style.opacity]="photoValidation()">Next</a>

								<a *ngIf="share" href="javascript:void(0)" class="btn btn-circle btn-blue next-btn"
									(click)="shareProgress()" [style.opacity]="photoValidation()">Share</a>
							</div>

						</div>
					</div>

				
				</div><!--  create photo proccess -->


			</div>
		</div>
	</div>

</div><!-- Upload Photo -->