<router-outlet *ngIf="!_authService.logged"></router-outlet>

<div *ngIf="_authService.logged">
	<app-sidebar [showSidebar]="sidebar" (close)="sidebar = $event"></app-sidebar>

	<div class="content">
		<app-header (show)="sidebar = $event"></app-header>
		<div class="container">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>


