<div class="popup-wrapper login-wrapper">
	<table class="full">
		<tr>
			<td class="txt-center">
				<div class="popup">
					
					<div class="txt-center">
						<img class="logo" src="assets/img/logo.png">
						<h2 *ngIf="!correctEmail && !emailNotFound" 
							class="font48 condensed mt-3 ln1">Log in!</h2>
						<h2 *ngIf="correctEmail && !forgotPass" class="font48 condensed mt-3 ln1">Welcome back!</h2>
						<h2 *ngIf="emailNotFound" class="font30 condensed mt-3 ln1">Email address not registered</h2>
						<h2 *ngIf="forgotPass" class="font48 condensed mt-3 ln1">Forgot password</h2>
					</div>
				
					<div class="input-group mt-2">
						
						<div *ngIf="!correctEmail && !emailNotFound" class="single single-wf-label">
							<img class="wf-label" src="assets/img/email.svg">
							<input [(ngModel)]="email" type="email" placeholder="Email Address">
							<p class="font12 light black italic ln13 mt-1">Please use the email address you have used to purchase your plan.</p>
						</div>

						<div *ngIf="correctEmail && !forgotPass" class="single single-wl-label">
							<img *ngIf="password && passVisibility === 'hide'" (click)="passVisibility = 'show'" src="assets/img/hide.svg" class="wf-label">
							<img *ngIf="password && passVisibility === 'show'" (click)="passVisibility = 'hide'" src="assets/img/show.svg" class="wf-label">
							<input [(ngModel)]="password" (keyup)="validatePassword(password)" 
								[type]="passVisibility === 'hide' ? 'password' : 'text'" placeholder="Password">
							<p class="font14 red-link condensed" *ngIf="!validPass">Password is incorrect.</p>
						</div>

						<div *ngIf="correctEmail && !forgotPass" class="mt-2">
							<div class="font18 black inline-block"><div class="checkbox" 
								[class.checked]="remember" (click)="remember = !remember"></div> Remeber Me</div>
							<a href="javascript:void(0)" class="red-link font18 right" 
								(click)="forgotPass = true">Forgot password?</a>
						</div>

						<div *ngIf="emailNotFound" class="txt-center">
							<p class="font16 light black condensed ln13 mt-1">Your email address <strong>{{email}}</strong> cannot be found in our database. Please click the link below to purchase your plan now.</p>
						</div>

						<div *ngIf="forgotPass" class="txt-center">
							<p class="font16 light black condensed ln13 mt-1">An email with a new password has been sent to <strong>{{email}}</strong></p>
							<p class="font16 light black condensed ln13 mt-1">Please follow the instructions in the email.</p>
						</div>
					
					</div>

					<a *ngIf="!correctEmail && !emailNotFound" href="javascript:void(0)" class="btn btn-circle btn-blue font24 default light mt-4" (click)="checkEmail(email)">Continue</a>
					<a *ngIf="correctEmail && !forgotPass" href="javascript:void(0)" class="btn btn-circle btn-blue font24 default light mt-4" (click)="checkPassword(password)">Log in</a>

					<a *ngIf="emailNotFound" href="javascript:void(0)" class="btn btn-circle btn-red font24 default light mt-4" routerLink="/register">Register Now !</a>
					<div *ngIf="emailNotFound" class="txt-center">
						<a href="javascript:void(0)" class="btn btn-circle btn-blue font24 default light mt-2" (click)="checkPassword(password)" style="width: 100%; max-width: 155px; display: inline-block;" (click)="emailNotFound = false;">Back</a>
					</div>

					<a *ngIf="forgotPass" href="javascript:void(0)" class="btn btn-circle btn-blue font24 default light mt-4" (click)="forgotPass = false">Back</a>

				</div>
			</td>
		</tr>
	</table>
</div>
