<div class="sidebar fixed bg-main condensed" [class.show-sidebar]="showSidebar">

		<div class="logo txt-center">
			<img src="assets/img/logo.png">
		</div>

		<nav class="navbar pt-2">
			<ul class="def-ul">
				<li>
					<a (click)="close.emit(false); showSidebar = false;" class="nav-item" 
						href="javascript:void(0)" routerLink="/dashboard" routerLinkActive="active">
					  <i class="icon icon-dashboard"></i>	Dashboard
					</a>
				</li>
				<li><a (click)="close.emit(false); showSidebar = false;" class="nav-item" href="javascript:void(0)" routerLink="/meal-plan" 
					routerLinkActive="active">
					<i class="icon icon-meal"></i> Meal Plan</a></li>
				<li><a (click)="close.emit(false); showSidebar = false;" class="nav-item" href="javascript:void(0)" routerLink="/workout-program" 
					routerLinkActive="active">
					<i class="icon icon-workout"></i> Workout Program</a></li>
				<li><a (click)="close.emit(false); showSidebar = false;" class="nav-item" href="javascript:void(0)" routerLink="/supplement-plan" 
					routerLinkActive="active">
					<i class="icon icon-workout"></i> Supplement Plan</a></li>
				<li><a (click)="close.emit(false); showSidebar = false;" class="nav-item" href="javascript:void(0)" routerLink="/weight-tracker" 
					routerLinkActive="active">
					<i class="icon icon-weight"></i> Weight Tracker</a></li>
				<li><a (click)="close.emit(false); showSidebar = false;" class="nav-item" href="javascript:void(0)" routerLink="/progress" 
					routerLinkActive="active">
					<i class="icon icon-progress"></i> Progress Photos</a></li>
				<li><a (click)="close.emit(false); showSidebar = false;" class="nav-item" href="javascript:void(0)" routerLink="/settings" 
					routerLinkActive="active">
					<i class="icon icon-settings"></i> Settings</a></li>
			</ul>
		</nav>

		<a (click)="close.emit(false); showSidebar = false; logOut();" href="javascript:void(0)" class="log-out absolute nav-item"><i class="icon icon-log-out"></i> Log Out</a>

</div>

<div *ngIf="showSidebar" class="overflow">
	<div class="close-button" (click)="close.emit(false); showSidebar = false;">
		<img src="assets/img/close-blue.svg">
	</div>
</div>
