@import '../../styles/vars'

.sidebar
	top: 0
	left: 0
	bottom: 0
	box-shadow: $def-shadow
	z-index: 10
	@media(max-width: $md)
		top: 63px

.logo
	margin:
		top: 40px
		bottom: 40px
	@media(max-width: $md)
		margin-bottom: 20px

.nav-item
	position: relative
	display: block
	color: $main-color
	padding: 8px 0px 8px 65px
	text-decoration: none
	transition: padding $def-transition
	margin: 10px 0
	.icon
		position: absolute
		top: calc(50% - 19px)
		left: 20px
		font-size: 30px
		color: $main-color
		transition: color $def-transition, left .4s ease
	&:after
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 0
		background-color: $accent1-color
		transition: width $def-transition
	&:hover
		&:not(.active)
			padding-left: 75px
			.icon
				left: 35px
	&.active
		font-weight: $bold
		color: $accent1-color
		.icon
			color: $accent1-color
		&:after
			width: 3px
	@media(max-width: $lg)
		padding-left: 50px
		.icon
			left: 10px
		&:hover
			&:not(.active)
				padding-left: 50px
				.icon
					left: 10px
	@media(max-width: $xs)
		margin: 0

.toggle-button
	cursor: pointer
	right: 0
	top: calc(50% - 20px)
	background-color: inherit
	width: 40px
	height: 40px
	right: -50px
	border-radius: 0px 10px 10px 0
	box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.2)
	background-position: center center
	background-repeat: no-repeat
	background-image: url(../../../assets/img/menu.svg)
	background-size: 20px 20px

.log-out
	font-size: 20px
	font-weight: $bold
	color: #000
	left: 0px
	bottom: 0px
	right: 0
	position: absolute
	display: block
	@media(max-height: 715px) and (min-width: $xs)
		margin-top: 30px
		position: relative
	@media(max-height: 640px)
		margin-top: 30px
		position: relative
		 
.close-button
	margin:
		top: 95px
		left: 245px
	img
		width: 20px
		height: 20px

.overflow
	display: none
	position: fixed
	z-index: 8
	background-color: rgba(#000, .1)
	@media(max-width: $md)
		display: block