@import '../../../styles/vars'

.btn-xl
	display: block
	text-align: center
	max-width: 65%
	margin:
		left: auto
		right: auto
	@media(max-width: $md)
		max-width: none
		margin:
			left: 20px
			right: 20px
	@media(max-width: $sm)
		margin:
			left: 10px
			right: 10px

.weight-input
	margin:
		left: auto
		right: auto
	height: 110px
	font-family: $def-font
	font-size: 30px
	font-weight: $bold
	color: #000
	max-width: 295px
	font-size: 110px
	text-align: center
	background-color: transparent
	border: none
	@media(max-width: $lg)
		max-width: 260px
		font-size: 100px
		height: 100px
	@media(max-width: $sm)
		font-size: 90px
		height: 90px
		max-width: 220px
	&.validate
		border: 1px solid $accent2-color

.kg
	font-size: 36px
	opacity: .1
	@media(max-width: $lg)
		font-size: 32px
	@media(max-width: $sm)
		font-size: 28px

.txt-center
	text-align: center !important