/* Global Styles */
@import './app/styles/reset'
@import './app/styles/fonts'
@import './app/styles/vars'

html,
body
	overflow-x:

body
	min-width: 320px
	font-size: 18px
	line-height: 1.7
	opacity: 1
	font-family: $def-font
	color: $main-color
	background-image: url(./assets/img/content-bg.png)
	background-attachment: fixed
	background-size: cover
	background-repeat: no-repeat

@import './app/styles/utilities'

// UL
.def-ul
	margin: 0
	padding: 0
	list-style-type: none

// Dynamic width for sidebar and content
$sidebar-width: 260px
.sidebar
	width: $sidebar-width
	overflow-y: auto
	overflow-x: hidden
.content
	width: calc(100% - #{$sidebar-width})
@media(max-width: $lg)
	$sidebar-width: 210px
	.sidebar
		width: $sidebar-width
	.content
		width: calc(100% - #{$sidebar-width})
@media(max-width: $md)
	.sidebar
		transition: transform $def-transition
		transform: translateX(-105%)
	.content
		float: none
		width: 100%
	.show-sidebar
		transform: translateX(0%)
		.toggle-button
			display: none

// Component Title
.component-title-container
	position: relative
	@media(max-width: $lg)
		padding: 30px
	@media(max-width: $md)
		padding:
			left: 0px
			right: 0px

// Component Content
.component-content
	&.cards
		padding: 0 25px
		@media(max-width: $md)
			padding: 0
		[class^="col-"], [class*=" col-"]
			padding: 0 30px
			@media(max-width: $lg)
				padding: 0 20px
			@media(max-width: $md)
				padding: 0 15px
	&.no-cards
		.row
			margin: 0
			@media(max-width: $md)
				margin: 0 -15px

// Cards
.card
	border-radius: $def-radius
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12)
	background-color: #fff
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	position: relative
	margin-bottom: 30px
	.lg-title
		color: rgba(#fff, .7)

.card-with-bottom
	.lg-title
		bottom: 60px
		left: 0
	.bottom-container
		background-color: rgba(#fff, 0.8)
		bottom: 0
		left: 0
		right: 0
		padding:
			top: 5px
			bottom: 0px
		border-radius: 0 0 $def-radius $def-radius
		table
			td
				height: 50px
				&:last-child
					text-align: right
					width: 115px

.card-w-black-top
	.top-container
		font-family: $def-cond-font
		font-weight: bold
		line-height: 1
		background-color: #3d3d3d
		color: #fff
		border-radius: $def-radius $def-radius 0 0
		padding:
			top: 18px 
			bottom: 14px

.card-dashboard-with-top
	.bottom-container
		position: relative
		padding:
			top: 20px
			bottom: 16px
		background-color: #fff
		border-radius: $def-radius $def-radius 0 0
		z-index: 1
	.bg-container
		top: 100px
		left: 0
		right: 0
		bottom: 0
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		border-radius: 0 0 $def-radius $def-radius

.card-paddings
	padding:
		left: 25px
		right: 20px
	@media(max-width: $sm)
		padding-left: 15px


.card25
	height: 250px
	@media(max-width: $lg)
		height: 220px
	@media(max-width: $md)
		height: 250px
	@media(max-width: $sm)
		height: 220px
	@media(max-width: 480px)
		height: 200px

.card5
	height: 420px
	@media(max-width: $lg)
		height: 540px
	@media(max-width: $sm)
		height: 450px
	@media(max-width: $xs)
		height: 430px
	@media(max-width: 480px)
		height: 370px

// Buttons
.btn
	display: inline-block
	text-transform: uppercase
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5)
	padding: 11px 35px 5px
	border-radius: 20px
	text-decoration: none
	font-weight: bold
	font-family: $def-cond-font
	line-height: 1
	transition: box-shadow $def-transition
	text-align: center
	&:hover
		box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5)

.btn-circle
	text-transform: capitalize
	vertical-align: middle
	border-radius: 35px
	padding: 20px 17px 16px

.btn-xl
	border-radius: 50px
	text-transform: capitalize
	font-family: $def-font
	padding:
		top: 18px
		bottom: 10px

.btn-white
	color: $accent2-color
	background-color: #fff

.btn-red
	color: #fff
	background-color: #ab131c

.btn-blue
	color: #fff
	background-color: $accent3-color

// ICONS
.icon-plus
	display: inline-block
	width: 27px
	height: 27px
	background-image: url(./assets/img/plus.svg)
	background-size: 27px 27px
	background-position: center center

.icon-close
	display: inline-block
	width: 20px
	height: 20px
	background-image: url(./assets/img/close.svg)
	background-size: 20px 20px
	background-position: center center


// OVERFLOW
.overflow
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 12
	background-color: rgba(#000, .65)

// POPUP
.popup-wrapper
	z-index: 13
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	text-align: center
	padding: 15px
	overflow-y: auto

.popup
	margin: auto
	width: 100%
	max-width: 750px
	text-align: left
	background-color: #f0f0f0
	border-radius: $def-radius
	box-shadow: $def-shadow
	padding: 40px 30px
	@media(max-width: $md)
		max-width: 650px
	@media(max-width: $sm)
		max-width: 90%
		padding: 20px 15px
	.icon-close
		margin-top: -10px

// SHADWOS
.shadow
	&:after,
	&:before
		content: ''
		position: absolute

.shadow-down
	&:after
		height: 4px
		top: 0px
		right: 0
		left: 0
		background-image: linear-gradient(to top, #f5f5f5, rgba(#000, .37))

.shadow-right
	&:before
		width: 4px
		left: 0px
		top: 0px
		bottom: 0
		background-image: linear-gradient(to left, #f5f5f5, rgba(#000, .37))

// Rounded this shadow styles
.rounded-shadow 
	border-radius: 8px
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.14)
	background-color: #ffffff
	border: solid 1px #d7d7d7

// Input
input,
textarea
	&::-webkit-input-placeholder
		color: #000
		opacity: .1
	&:-moz-placeholder
		color: #000
		opacity: .1
	&::-moz-placeholder
		color: #000
		opacity: .1
	&:-ms-input-placeholder
		color: #000
		opacity: .1

// Toggle Buttons
.toggle-move
	position: relative
	display: inline-block
	width: 65px
	height: 33px
	opacity: 0.1
	border-radius: 19px
	box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.7)
	background-color: #e9e9e9
	border: solid 2px #000000
	cursor: pointer
	transition: opacity $def-transition
	&:before
		content: ''
		position: absolute
		border-radius: 100%
		top: 2px
		left: 2px
		width: 26px
		height: 26px
		background-color: #ffffff
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5)
		transition: left $def-transition, right $def-transition
	&.active
		opacity: 1
		background-color: #eb2129
		border: solid 2px #e6e6e6
		&:before
			right: 2px
			left: auto
		 		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.24)

// USER LOGO
.user-logo
	display: inline-block
	width: 120px
	height: 120px
	background-color: #ffffff
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14)
	border-radius: 100%

// Check Box
.checkbox
	display: inline-block
	cursor: pointer
	width: 20px
	height: 20px
	border-radius: 3px
	border: solid 1px #000000
	vertical-align: sub
	margin:
		bottom: 1px
		right: 5px

.checked
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-image: url(./assets/img/check.svg)
		background-size: cover
		background-position: center
		background-repeat: no-repeat

// Links
.red-link
	color: #c30000

// Login Wrapper
.login-wrapper
	background-image: url(./assets/img/login-bg.png)
	background-position: center left
	background-size: cover
	background-repeat: no-repeat
	.popup
		background-color: rgba(#f0f0f0, .93)
		.logo
			max-width: 180px
			margin: 0
		.btn-circle
			font-weight: 400
			display: block
			padding:
				top: 17px
				bottom: 11px
			box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.39)
		input
			background-color: transparent
			width: 100%
			height: 45px
			border-radius: 9px
			border: solid 1px rgba(#000000, .2)
			outline: none
			padding: 0px 15px
			font-size: 18px
			font-weight: $light
			color: #000
			&:focus
				border-color: rgba(#000, .5)
			&::-webkit-input-placeholder
				color: #000
				font-size: 18px
				font-weight: $light
				opacity: 1
			&:-moz-placeholder
				color: #000
				font-size: 18px
				font-weight: $light
				opacity: 1
			&::-moz-placeholder
				color: #000
				font-size: 18px
				font-weight: $light
				opacity: 1
			&:-ms-input-placeholder
				color: #000
				font-size: 18px
				font-weight: $light
				opacity: 1
		.single
			position: relative
		.wf-label
			position: absolute
			top: 10px
			max-width: 23px
		.single-wf-label
			input
				padding-left: 50px
			.wf-label
				left: 15px
		.single-wl-label
			input
				padding-right: 50px
			.wf-label
				cursor: pointer
				right: 15px

// Custom Drop Down
ul.drop-down
	z-index: 3
	max-height: 170px
	overflow-y: auto
	li
		cursor: pointer
		font-size: 14px
		background-color: darken(#fff, 1%)
		padding: 5px 10px
		border-bottom: 1px solid $accent1-color
		&:hover
			background-color: #fff

.logo 
	padding: 0 15px
	img
		max-width: 160px
		height: auto
	@media(max-width: $lg)
		margin: 40px 0 30px
	@media(max-width: $md)
		margin: 30px 0 20px

.spinner
	height: 80px
	background-image: url(./assets/img/spinner.svg)
	background-size: 80px 80px
	background-position: center
	background-repeat: no-repeat