<div class="component-title-container p-4">
	<h2 class="title font48 bold condensed ln1 inline-block">Supplement Plan</h2>
</div>

<div class="component-content no-cards">
	
	<div class="row">
		<div class="col-12">
			<div class="card card-paddings txt-center">
			
				<h1 class="title-inside condensed txt-upper py-3 ln1 font48">My Recommended Supplements</h1>

				<div class="img-container">
					<img src="assets/img/supplements.jpg">
				</div>

				<p class="font-20 condensed ln13 my-1">The <span class="bold txt-upper">Fat Loss Essentials Stack</span> is our most popular supplement stack. It ensures that you burn fat 24/7, boost your metabolism and immunity, while curbing your appetite and improving satiety to reduce cravings throughout the day. These are your essential supplements to maximize fat loss around the clock - day and night.</p>

				<a class="learn-btn font30 condensed txt-upper white dec-none mt-3" href="javascript:void(0)">Learn More</a>
					
			</div>
		</div>
	</div>

</div><!-- Progress Photos -->