.component-content
	color: #1a2c55
	.card
		padding-bottom: 30px

.title-inside
	opacity: 0.15

.img-container
	img
		max-width: 100%

.learn-btn
	display: inline-block
	padding: 15px 35px 10px
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.27)
	background-color: #e92028
	border: solid 2px #ffffff